<div class="table">
    <div class="container">
        <table>
            <thead>
                    <th>
                        Glicose
                    </th>
                    <th>
                        Tipo de Medição
                    </th>
                    <th>
                        Hora
                    </th>
            </thead>
            <tbody>
                    <tr>
                        100
                    </tr>
                    <tr>
                        Jejum
                    </tr>
                    <tr>
                        6:00
                    </tr>
                    <i id="edit">
                    </i>
                    <i id="delete">

                    </i>
            </tbody>
            <tfoot>
                <i id="plus">

                </i>
            </tfoot>
        </table>
    </div>
</div>