<div class="login-main">
    <div class="container">
        <div class="logo">
            
        </div>
        <div class="login">
            <div class="text-login">
                <p>Login</p>
            </div>
            <div class="span-login">
                <div>
                    <span>Email</span>
                    <input type="email" name="email" id="" placeholder="Email">
                </div>
                <div>
                    <span>Senha</span>
                    <input type="password" name="password" id="" placeholder="Senha">
                </div>
                <div>
                    <button>Login Here</button>
                </div>
                <div>
                    <p>- OU -</p>
                </div>
                <div class="criar">
                    <P>Criar uma conta? <a href="register.figma">Criar</a></P>
                </div>
            </div>
        </div>
    </div>
</div>