<div class="register-main">
    <div class="container">
        <div class="logo">
            
        </div>
        <div class="register">
            <div class="text-register">
                <p>Cadastro</p>
            </div>
            <div class="span-register">
                <div>
                    <span>Nome</span>
                    <input type="text" name="nome" id="" placeholder="Coloque seu nome completo aqui">
                </div>
                <div>
                    <span>Email</span>
                    <input type="email" name="email" id="" placeholder="Coloque seu email aqui">
                </div>
                <div>
                    <span>Senha</span>
                    <input type="password" name="password" id="" placeholder="Coloque a senha aqui">
                </div>
                <div class="cpf">
                    <span >CPF</span>
                    <input type="text" name="cpf" id="cpf" placeholder="000000000-00">
                </div>
                <div>
                    <button>Criar</button>
                </div>
                <div>
                    <p>- OU -</p>
                </div>
                <div>
                    <P>Já tem uma conta? <a href="login.figma">Logar</a></P>
                </div>
            </div>
        </div>
    </div>
</div>